.country{
    border: 2px solid aqua;
    padding: 10px;
    border-radius: 10px;
}
button{
    background-color: black;
    /* color: #FFF; */
    margin-bottom: 3px;
}
.visited{
    background-color: cadetblue;
    
}